<%- include("partials/header"); -%>
<h1>About</h1>
<p>This blog is a simple blog I created to post anything I want. It uses Node and Express on the backend along with Mango Atlis. I use EJS and CSS on the frontend.</p>

<%- include("partials/footer"); -%>